<h1>Movie Lists</h1>
<ul>
<% @lists.each do |list| %>
  <li><%= link_to list.name, list_path(list) %></li>
  <p><%= link_to "Delete", list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
<% end %>
</ul>
<%= link_to "New List", new_list_path %>
