<h1>New List</h1>
<%= simple_form_for(@list) do |f| %>
  <%= f.input :name %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>

<br>

<%= link_to "Back to Lists", lists_path, class: "btn btn-primary" %>
